.react-date-picker__inputGroup {
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-flex-flow: row wrap !important;
  flex-flow: row wrap !important;
  -webkit-align-items: center !important;
  align-items: center !important;
}